<form method="post" action="/san-pham3/{{iphone._id}}/detail" enctype="multipart/form-data">
    <input type="text" name="name" value="{{iphone.name}}" placeholder="Nhập sản phẩm" /> <br />
    <input type="text" name="year" value="{{iphone.year}}" placeholder="Năm sản xuất" /> <br />
    <input type="file" name="image" value="{{iphone.image}}" onchange="loadFile(event);" /> <br />
    <img width="250" height="250" id="img-display" alt="Image" src="{{iphone.image}}"><br />
    <select name="categoryId">
        {{#each categories}}
        {{#if this.isSelected}}
        <option selected value="{{this._id}}">{{this.name}}</option>
        {{else}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/if}}
        {{/each}}
    </select><br />
    <input type="submit" value="Tạo mới"/> <br />
</form>

<script>
    const loadFile = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('img-display');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>