<form method="post" action="/san-pham/{{product._id}}/detai" enctype="multipart/form-data">
    <input type="text" name="name" value="{{product.name}}"  placeholder="Nhập< sản phẩm" /> <br />
    <input type="text" name="price" value="{{product.price}}"   placeholder="Nhập giá tiền" /> <br />
    <input type="text" name="quantity" value="{{product.quantity}}"   placeholder="Nhập số lượng" /> <br />
    <textarea name="description" value="{{product.description}}"  ></textarea> <br />
    <input type="file" name="image" value="{{product.image}}"   onchange="loadFile(event);" /> <br />
    <img width="250" height="250" id="img-display" alt="Image" src="{{product.image}}"><br />
    <select name="categoryId">
        {{#each categories}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select><br />
    <input type="submit" value="Tạo mới" id="submit" /> <br />
</form>

<script>
    const loadFile = function (event) {
        const reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('img-display');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>