<h1 style="text-align: center; margin-left: 50px;">Sản Phẩm</h1>
<link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
<body>
<div class="san-pham">
    <table border="1" class="danh_sach">
        <thead class="mau">
            <tr>
                <th style="width: 80px;">STT</th>
                <th style="width: 80px;">Tên sản phẩm</th>
                <th>Mô tả</th>
                <th style="width: 80px;">Danh mục</th>
                <th style="width: 100px;">Giá</th>
                <th>Ảnh</th>
                <th style="width: 80px;">Tùy Chỉnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each sp}}
            <tr>
                <td>{{this.index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.categoryId.name}}</td>
                <td>{{this.price}}</td>
                <td><img height="150" width="150" src="{{this.image}}" alt=""></td>
                <td>
                    <button onclick="goDetai('{{this._id}}');">Sửa</button>
                    <button onclick="confirm('{{this._id}}');">Xóa</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>
<script>

    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }

    
    const confirm = async (id) => {
        swal({
            title: "Xác nhận xóa?",
            text: "Xóa sẽ mất",
            icon: "warning",
            buttons: "đồng ý",
            dangerMode: "Chịu không",
        })
        .then(async (willDelete) => {
            if (willDelete) {
                let url = `/san-pham/${id}`;
                let options = {
                    method: 'DELETE'
                 }
                 let result = await fetchAPI(url, options);
                 if (result.status) {
                     swal("Xóa thành công!", {
                        icon: "success",
                     });
                     setTimeout(() => {
                        window.location.reload();
                     }, 1000);    
                 }else{
                    swal("Xóa thật bại!",{
                        icon: "error",
                    });
                 }
            }
        });
    }

   const goDetai = (id) => {
    window.location.href = `/san-pham/${id}/detai`;
   }

</script>